.catalog {

}

.catalog .container {
  display: flex;
}

.catalog__nav {
  display: flex;
  flex-direction: column;
  margin: 90px 20px 0 0;
  width: 375px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #8E8E8E;
}

.catalog__nav-link {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #E7E7E7;

  &--active {
    color: #1E1E1E;
  }

  span {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.3em 0.45em;
    border-radius: 50%;
  }

  &:hover span {
    background-color: #FEB822;
  }
}

.catalog__goods {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.catalog__goods-title {
  margin: 40px 0 0 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 375px);
  grid-auto-flow: dense;
  gap: 20px;
}

.catalog__item {
  position: relative;

  &--big {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.catalog__item-title {
  margin: 5px 0 0 0;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.catalog__item-add-link {
  position: absolute;
  top: 20px;
  right: 20px;
}
