.item-card .container {
  display: flex;
}

.item-card__slider {
  min-width: 928px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-card__info {
  margin: 0 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.item-card__title {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  margin: 0;
  width: 100%;
  height: fit-content;
}

.item-card__like {
  margin: auto 20px 10px auto;
}

.item-card__price {
  font-size: 26px;
  line-height: 25px;
  margin: 10px 0 0 0;
  width: 100%;
}

.item-card__desc {
  font-size: 16px;
  line-height: 19px;
  margin: 95px 0 0 0;
  padding: 0 180px 0 0;
}

.item-card__in-stock-count {
  font-size: 16px;
  line-height: 19px;
}

.item-card__in-stock {
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  margin: 80px 0 0 0;
}

.item-card__count {
  display: flex;
  border: 1px solid #E7E7E7;
  width: fit-content;
  margin: 16px 0 0 0;
  font-size: 26px;
  line-height: 25px;
}

.item-card__remove-count {
  padding: 22px 15px 23px 27px;
}

.item-card__current-count {
  margin: 0;
  padding: 23px 15px 15px 15px;
}

.item-card__add-count {
  padding: 22px 27px 23px 15px;
}

.item-card__buy {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 16px 0 0 5px;
  width: calc(100% - 160px);
  background: #FEB822;
  padding: 26px 197px;
}

.item-card__other-info {

}
