.page-header {
}

.page-header .container {
  display: flex;
  position: relative;
}

.page-header__link {
  &--favorite {
    margin: 17px 30px 0 auto;
  }

  &--buy {
    margin: 17px 10px 0 0;
  }

  &--logo {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
  }
}
