.popular-goods .container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.popular-goods__title {
  width: 100%;
  text-transform: uppercase;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #1E1E1E;
  margin: 150px 0 40px 0;
}

.popular-goods__items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.popular-goods__item {
  position: relative;
  border: 3px solid transparent;
  transition: $transition-fast;

  &:hover {
    border: 3px solid #FEB822;
    transition: $transition-fast;
  }

  &:hover .popular-goods__item-price {
    color: rgb(0, 132, 255);
    transition: $transition-fast;
  }
}
.popular-goods__item-img {
}

.popular-goods__item-title {
  margin: 10px 0 0 0;
  text-transform: uppercase;
}

.popular-goods__item-price {
  margin: 10px 0 0 0;
  text-align: right;
  position: absolute;
  bottom: 1px;
  right: 1px;
  color: #8E8E8E;
  transition: $transition-fast;
}

.popular-goods__before {
  position: absolute;
  top: 167px;
  right: 144px;

  & svg path {
    transition: $transition-fast;
  }

  &:hover svg path {
    stroke:#FEB822;
    fill :#FEB822;
    transition: $transition-fast;
  }
}

.popular-goods__next {
  position: absolute;
  top: 167px;
  right: 20px;

  & svg path {
    transition: $transition-fast;
  }

  &:hover svg path {
    stroke:#FEB822;
    fill :#FEB822;
    transition: $transition-fast;
  }
}
